<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/CheeseV/">
    <title>{{ title }}</title>
    <style>
        body {
            font-family: 'Roboto Mono', monospace;
            margin: 2rem;
            max-width: 900px;
            background-color: #111;
            color: #eee;
        }
        nav a {
            margin-right: 1rem;
            color: #0af;
            text-decoration: none;
        }
        footer {
            margin-top: 2rem;
            font-size: 0.8rem;
            color: #888;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<nav>
    {{ nav_links }}
</nav>
{{ content }}
<footer>
    <p>&copy; 2025 Jdeseech</p>
</footer>
</body>
</html>
